@import '../mixins.scss';
.admin-page{
  height: 100vh;
  background:url('../../assets/images/jpg/night.jpg') center center no-repeat ;
  background-size: cover;
  display: flex;
  flex-direction: column
}
.content{
    position: relative;
    flex: 1;
    background: rgba(255,255,255,.85);
    padding: 40px 25px;
    height: 100%;
    @media(max-width:450px){
      padding: 20px 10px;
    }
  }