@font-face {
  font-family: FontAwesome;
  src: url('./fonts/FontAwesome.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: fontawesome-webfont-webfont;
  src: url('./fonts/fontawesome-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Bold;
  src: url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url('./fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Roboto-Italic;
  src: url('./fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Roboto-Light;
  src: url('./fonts/Roboto-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url('./fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto-Medium;
  src: url('./fonts/Roboto-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url('./fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Roboto-Regular;
  src: url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: sansus-webissimo-regular-webfont;
  src: url('./fonts/sansus-webissimo-regular-webfont.woff') format('woff');
  font-weight:normal;
  font-style: normal;
}